.root {
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    gap: 20px;
    list-style: none;
}
  
@media (max-width: 1800px) {
    ul {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
  
@media (max-width: 1500px) {
    ul {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
  
@media (max-width: 1200px) {
    ul {
        grid-template-columns: 1fr 1fr;
    }
}
  
@media (max-width: 900px) {
    ul {
        grid-template-columns: 1fr;
    }
}