.root {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.button {
    border: none;
    border-radius: 6px;
    margin-right: 10px;
    :hover {
        border: none;
        background-color: #ddd;
    }
    :focus {
        border: none;
    }
}